---
import A from "./A.astro";
const { category, title, description, date, time, url } = Astro.props;
---

<div class="flex flex-col items-start justify-start w-full gap-3 my-12">
    <span class="text-xs tracking-wider uppercase text-neutral-500"
        >{category}</span
    >
    <A href={url} class="font-sans text-2xl font-semibold">{title}</A>
    <p class="font-serif">{description}</p>
    <span class="text-xs tracking-wider text-neutral-500"
        >{date} • {time} min</span
    >
</div>
